@model IEnumerable<TripCompanion_MVC.Models.Trip>

@{
    ViewData["Title"] = "Trips";
}

<h3 >Mes Voyages</h3>

<div class="row m-1 bg-secondary bg-opacity-10 align-items-center justify-content-sm-start">

    @foreach (var item in Model)
    {
        <div class="col m-4 ">

            <div class="card border " style="width: 18rem;" onclick="GetStepByTripVC(@item.IdTrip)">
                <img src="..." class="card-img-top" alt="not implemented">
                <div class="card-body">
                    <h5 class="card-title text-center"> @Html.DisplayFor(modelItem=> item.Name) </h5>
                    <h6 class="card-subtitle mb-2 text-muted text-center"> Etapes : </h6>
                    <p class="card-text">                    
                        @Html.DisplayNameFor(model => model.Comments) : @Html.DisplayFor(modelItem => item.Comments)
                    </p>                
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Début : @Html.DisplayFor(modelItem => item.StartingDate)</li>
                    <li class="list-group-item">Fin : @Html.DisplayFor(modelItem => item.EndingDate)</li>
                    <li class="list-group-item">@Html.DisplayNameFor(model => model.Budget) : @Html.DisplayFor(modelItem => item.Budget)</li>
                
                
                </ul>
                <div class="card-body">
                <a class="btn btn-info" asp-controller="Trip" asp-action="Edit" asp-route-id=@item.IdTrip> Modifier </a>
                </div>
            </div>


        </div>
    }

    <div class="col">
        
            <a class="btn btn-outline-secondary btn-lg" asp-controller="Trip" asp-action="Create">Nouveau voyage</a>
       
    </div>

</div>