@model IEnumerable<TripCompanion_MVC.Models.Todo>

@{
    ViewData["Title"] = "Default";
}

<h4>Todos</h4>

<div class="m-1 p-3 bg-info bg-opacity-10 align-items-center justify-content-center">

@foreach (var item in Model) {

        <div class="row p-3 m-3 bg-light" onclick="GetTodoByStepVC(@item.IdStep)"> 

           <div class = "col">
                             
                @Html.DisplayNameFor(model => model.Name) : @Html.DisplayFor(modelItem => item.Name)
                <br>
               
                @Html.DisplayNameFor(model => model.Priority) : @Html.DisplayFor(modelItem => item.Priority)
                <br>
                @Html.DisplayNameFor(model => model.Calendar) : @Html.DisplayFor(modelItem => item.Calendar)
                <br>
                @Html.DisplayNameFor(model => model.Location) : @Html.DisplayFor(modelItem => item.Location)
                <br>
                @Html.DisplayNameFor(model => model.PlannedTime) : @Html.DisplayFor(modelItem => item.PlannedTime)
                <br>
                @Html.DisplayNameFor(model => model.PlannedBudget) : @Html.DisplayFor(modelItem => item.PlannedBudget)
                <br> 
                @Html.DisplayNameFor(model => model.Comments) : @Html.DisplayFor(modelItem => item.Comments)
                    
           </div>

           <div class = "col-4 alignalign-items-center">

                @Html.DisplayNameFor(model => model.Done) : @Html.DisplayFor(modelItem => item.Done)
                <br>
                @Html.DisplayNameFor(model => model.Status) :@Html.DisplayFor(modelItem => item.Status)
                <br>
                @Html.DisplayNameFor(model => model.Type) : @Html.DisplayFor(modelItem => item.Type)
                <br>
                <br>
               <a class="btn btn-info align-self-end" asp-controller="Step" asp-action="Edit" asp-route-id=@item.IdStep> Modifier </a> 

            </div>                            
        </div>
    }

    <div class="m-4 align-self-end">      
            <a class="btn btn-outline-secondary btn-lg" asp-controller="Step" asp-action="Create">Nouvelle Todo</a>       
    </div>
</div>

