@model IEnumerable<TripCompanion_MVC.Models.Todo>

@{
    ViewData["Title"] = "Default";
}

<h4 class="text-center">To do</h4>

<div class="m-1 p-3 bg-info bg-opacity-10 align-items-center justify-content-center">

@foreach (var item in Model) {

        <div class="row shadow p-3 m-3 bg-light rounded"> 

           <div class = "col">
                             
                @Html.DisplayNameFor(model => model.Name) : @Html.DisplayFor(modelItem => item.Name)
                <br> 
                @Html.DisplayNameFor(model => model.Status) : @Html.DisplayFor(modelItem => item.Status)
                <br>
                @Html.DisplayNameFor(model => model.Type) : @Html.DisplayFor(modelItem => item.Type)
                <br>
                @Html.DisplayNameFor(model => model.Priority) : @Html.DisplayFor(modelItem => item.Priority)
                <br>
                @Html.DisplayNameFor(model => model.Calendar) : @Html.DisplayFor(modelItem => item.Calendar)
                <br>
                @Html.DisplayNameFor(model => model.Location) : @Html.DisplayFor(modelItem => item.Location)
                <br>
                
                @Html.DisplayNameFor(model => model.PlannedBudget) : @Html.DisplayFor(modelItem => item.PlannedBudget)
                <br> 
                @Html.DisplayNameFor(model => model.RealBudget) : @Html.DisplayFor(modelItem => item.RealBudget)
                <br>
                @Html.DisplayNameFor(model => model.Comments) : @Html.DisplayFor(modelItem => item.Comments)
                    
           </div>

           <div class = "col-4 align-items-center">

                @Html.DisplayNameFor(model => model.Done) : @Html.DisplayFor(modelItem => item.Done)
                <br>
                <br>
                @if(item.Location != null)
                {
                    Console.WriteLine(@item.Location);
                    <button class=" m-1 btn btn-primary" onclick="UpdateMap('@item.Location')" >Voir sur la carte</button>
                }
                <br>
                <br>
               <a class=" m-1 btn btn-info align-self-end" asp-controller="Todo" asp-action="Edit" asp-route-idTodo=@item.IdTodo>Modifier</a>
               <a class=" m-1 btn btn-danger btn-sm " asp-controller="Todo" asp-action="Delete" asp-route-idTodo=@item.IdTodo>Supprimer</a>
               
                
                
            </div>                            
        </div>
    }

    <div class="m-4 align-self-end">      
            <a class="btn btn-outline-secondary btn-lg" asp-controller="Todo" asp-action="Create" asp-route-idStep=@ViewBag.IdStep>Nouvelle Todo</a>       
    </div>
</div>

