@model IEnumerable<TripCompanion_MVC.Models.Step>

@{
    ViewData["Title"] = "Steps";
}

<h4>Etapes</h4>

<div class="m-1 p-3 bg-primary bg-opacity-10 align-items-center justify-content-center">

@foreach (var item in Model) {

        <div class="row p-3 m-3 bg-light" onclick="GetTodoByStepVC(@item.IdStep)"> 

           <div class = "col">
              
                @Html.DisplayNameFor(model => model.Name) : @Html.DisplayFor(modelItem => item.Name)
                <br>
                @Html.DisplayNameFor(model => model.Budget) : @Html.DisplayFor(modelItem => item.Budget)
                <br>
                @Html.DisplayNameFor(model => model.Time) : @Html.DisplayFor(modelItem => item.Time)
                <br>
                @Html.DisplayNameFor(model => model.Comments) : @Html.DisplayFor(modelItem => item.Comments)
            
           </div>

           <div class = "col">

               <a class="btn btn-info" asp-controller="Step" asp-action="Edit" asp-route-idStep=@item.IdStep>Modifier</a>
               <a class="btn btn-danger btn-sm " asp-controller="Step" asp-action="Delete" asp-route-idStep=@item.IdStep>Supprimer</a>

            </div>                            
        </div>
    }

    <div class="m-4 align-self-end">      
            <a class="btn btn-outline-secondary btn-lg " asp-controller="Step" asp-action="Create" asp-route-idTrip=@ViewBag.IdTrip >Nouvelle étape</a>       
    </div>
</div>
